<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{thymeleaf/layout/blog}">
<head>
    <!--<th:block xmlns:th="http://www.thymeleaf.org" layout:fragment="custom_css"></th:block>
    <th:block xmlns:th="http://www.thymeleaf.org" layout:fragment="custom_js"></th:block>-->
</head>

<th:block layout:fragment="content" xmlns:th="http://www.thymeleaf.org" >

    <div id="services" class="bg-light pt-3 pb-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 mx-auto">
                    <div class="card">
                        <div class="card-body">
                            게시판 리스트
                            <hr/>
                            <a class="btn btn-info ml-1" th:href="@{/blog/main}"><-</a>
                            <div>
                                총 건수 : <span th:text="${list.getTotalElements()}"></span>
                            </div>

                            <div class="float-right">
                                <th:block th:replace="@{/common/search/default}"></th:block>
                            </div>
                            <table class="table table-striped gong_tb text-center">
                                <thead>
                                <tr>
                                    <th class="">체크</th>
                                    <th class="">번호</th>
                                    <th class="">제목</th>
                                    <th class="">작성자</th>
                                    <th class="">등록일</th>
                                    <th class="">댓글수</th>
                                    <th class="">조회수</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="item, i : ${list}">
                                    <td class="">
                                        <input type="checkbox" th:value="${item.getBdNo()}">
                                    </td>
                                    <td class="" th:text="${item.getBdNo()}">2</td>
                                    <td class=""><a th:text="${item.getBdTitle()}" th:href="'/board/view?bdNo='+${item.getBdNo()}">등록안내</a></td>
                                    <td class="">관리자</td>
                                    <td class="" th:text="${item.getRegDt()}">2021.01.26</td>
                                    <td class="">1</td>
                                    <td class="">4</td>
                                </tr>

                                </tbody>
                            </table>
                            <div class="pagination justify-content-center">
                                <th:block th:replace="@{/common/pagination/default}" ></th:block>
                            </div>
                            <div class="float-right">
                                <a class="btn btn-primary" th:href="@{/board/insert}">등록</a>
                                <a class="btn btn-danger ml-1" th:href="@{/board/delete}">삭제</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>