<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{thymeleaf/layout/blog}">
<head>

</head>

<th:block layout:fragment="content" xmlns:th="http://www.thymeleaf.org" >
    <div class="container">
        <div class="card mt-5 mb-3">
            <div class="card-body text-center">
                <table class="table table-vcenter card-table text-center">
                    <tr>
                        <th>번호</th>
                        <td th:text="${boardVO.getBdNo()}"></td>
                    </tr>
                    <tr>
                        <th>주제</th>
                        <td th:text="${boardVO.getBdTitle()}"></td>
                    </tr>
                    <tr>
                        <th>등록일</th>
                        <td th:text="${boardVO.getRegDt()}"></td>
                    </tr>
                    <tr>
                        <th>내용</th>
                        <td th:text="${boardVO.getBdContent()}"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

</th:block>
