<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{thymeleaf/layout/blog}">
<head>

</head>

<th:block layout:fragment="content" xmlns:th="http://www.thymeleaf.org" >
    <div class="container">
        <div class="card mt-5 mb-3">
            <div class="card-body text-center">
                <table class="table table-striped gong_tb text-center">
                    <tr>
                        <td>

                        </td>
                    </tr>
                    <tr>
                        <td>

                        </td>
                    </tr>
                    <tr>
                        <td>

                        </td>
                    </tr>
                    <tr>
                        <td>

                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

</th:block>
